* {
  margin: 0;
}

h1 {
  margin-bottom: 30px;
}

table,
th,
td {
  border: 1px solid;
  border-collapse: collapse;
  width: 65rem;
}

td {
  padding-top: 1rem;
}

a {
  margin-right: 10px;
}

input {
  display: block;
}

form button {
  margin-top: 10px;
}
